.movies{
  height: 100vh;
  display: flex;
  flex-direction: column;
  .movie-image{
    height: 150px;
  }
  .pagination{
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .search-box{
    display: flex;
    gap: 10px;
  }
}
